<html>
<head></head>
<body>

<h1>login</h1>

<form>

    <input type="hidden" name="_target_path" id="_target_path" value="{{ app.session.get('_security.main.target_path') }}" />

</form>

</body>
</html>