<html>
<head></head>
<body>

<h1>login</h1>

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path('login') }}" method="post">

    <label for="username">Username:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="username" />

    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" placeholder="password" />

    <input type="hidden" name="_target_path" id="_target_path" value="{{ app.session.get('_security.main.target_path') }}" />

    <button type="submit">login</button>
</form>

</body>
</html>